@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --white: #FFFFFF;
  --black: #000000;
  --red: #FF0022;
  --orange: #FF6800;
  --gray: #9EA5A8;
  --dark: #27343A;
}

/* fonts */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--black);
}

.text-16 {
  font-size: 1rem;
}

.text-20 {
  font-size: 1.25rem;
}

.text-24 {
  font-size: 1.5rem;
}

.gap-20 {
  gap: 1.25rem;
}

/* Layout */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: left;
}

.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.p-20 {
  padding: 1.25rem;
}

.py-20 {
  padding: 1.25rem 0px;
}

.mt-40 {
  margin-top: 2.5rem;
}

.m-auto {
  margin: auto;
}

/* sections */
.header-wrapper {
  height: auto;
}

/* Site/font/compoment color */
a, a:visited, a:active {
  color: var(--dark);
  text-decoration: none;
}

a:hover {
  color: var(--red);
}

/* Menu */
.menu-list {
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu-list-item {
  display: inline-block;
  margin: 1rem;
}

.site-title {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
}

ul {
  padding: 0px;
}

ul li {
  list-style: none;
}

/* Components */
.hero-card, .vehicle-card, .episode-card {
  border: 1px solid var(--dark);
  width: 12.5rem;
  min-height: 26.875rem;
  padding-top: 0.625rem;
}

.heroes-list li, .vehicle-list li, .episode-list li {
  display: inline-block;
  margin: 0px 10px;
  vertical-align: top;
  cursor: pointer;
}

.hero-card .hero-image {
  height: 13.75rem;
}

.vehicle-card .vehicle-image {
  height: 7.5rem;
}

.footer {
  background-color: #000000;
  height: 1.25rem;
  padding: 0.625rem;
  color: #FFFFFF;
}

.text-highlight {
  color: var(--red);
}

.site-logo {
  width: 200px;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 1.25rem;
  gap: 30px;
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 1.25rem 0px;
  }
  .hide-mobile {
    display: none;
  }
  .menu-list-block {
    background-color: #000000;
  }
  .menu-list-item a {
    color: #FFFFFF;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 1.25rem 0px;
  }
  .site-logo {
    width: 150px;
    height: 100px;
  }
  .hide-mobile {
    display: none;
  }
  .menu-list-block {
    background-color: #000000;
  }
  .menu-list-item a {
    color: #FFFFFF;
  }
}
